<div class="title">
    <h1>Exchange</h1>
    <%= form_with model: @item, url: { controller: "items", action: "find" }, method: 'get', local: true do |f| %>
    <div>
        <p>Find Items by their Name/Rarity/Type <% f.label :input %>
        <p><%= f.text_field :input, placeholder: "..."%></p>
    </div>
    <div>
        <%= f.submit "Search Items" %>
    </div>
    <% end %>
</div> 
<div class="dash-body">
    <% if @exchange_listed %>
    <div class="dash-cont">
        <h2>Premium Items:</h2>
        <div class="parent-cont">
            <% @exchange_listed.each do |item| %>
                <div class="item-container">
                    <% if item.icon.attached? %>
                    <%= cl_image_tag(item.icon.key, crop: :scale, width: 100, cloud_name: ENV["CLOUDINARY_CLOUDNAME"]) %>
                    <% end %>
                    <p>Name: <%= item.name.titleize %></p>
                    <p>Type: <%= item.item_type.titleize %></p>
                    <p>Rarity: <%= item.rarity.titleize %></p>
                    <p>Description: <%= item.description %></p>
                    <p>Power: <%= item.power %></p>
                    <p>Price: <%= item.listed_price %></p>
                    <button><%= link_to "Buy!", items_buy_path(item), method: "PUT", data: {confirm: "Are you sure?" } %></button>
                </div>
            <% end %>
        </div>
    </div>
    <% end %>

    <% if @searched_items %>
    <div class="inv-dash-cont">
        <h2>Search Results:</h2>
        <div class="parent-cont">
        <% @searched_items.each do |item| %>
            <div class="item-container">
                <% if item.icon.attached? %>
                <%= cl_image_tag(item.icon.key, crop: :scale, width: 100, cloud_name: ENV["CLOUDINARY_CLOUDNAME"]) %>
                <% end %>
                <br>
                <p>Owner: <%= link_to item.trader.username, trader_path(item.trader), method: :get %></p>
                <p>Name: <%= item.name.titleize %></p>
                <p>Type: <%= item.item_type.titleize %></p>
                <p>Rarity: <%= item.rarity.titleize %></p>
                <p>Description: <%= item.description %></p>
                <p>Power: <%= item.power %></p>
                <p>Price: <%= item.listed_price %></p>
                <button><%= link_to "Buy!", items_buy_path(item), method: "PUT", data: {confirm: "Are you sure?" } %></button>
            </div>
        <% end %>
        </div>
    </div>
    <% end %>
</div>