<div class="rift-cont">
 <section>
     <div>
         <h2>Explore The Rift</h2>
     </div>
     <div>
         <h3>Claim Daily Reward</h3>
        <% if @claim %>
            <button><%= link_to "Claim!", claim_path, method: "GET" %></button>
        <% else %>
            <p>You already claimed todays reward! Come back tomorrow!</p>
        <% end %>
     </div>
     <div>
         DEBUG:
         <%= @REFRESH %>
         <%= @curr_time_conv %>
         <%= @refresh_time_conv %>

         <h3>Today's Rifts</h3>
         <% int = 1 %>

         <% if @rifts.length > 0 %>
            <% @rifts.each do |rift| %>
            <div>
                <h4><%= "Rift " + int.to_s  %></h4>
                <% int += 1 %>
                <% item_int = 1 %>
                <% rift.items.each do |item| %>
                    <%= "Item #{item_int}: #{item.name}"%>
                    <br>
                    Power: <%= item.power %>
                    Worth: <%= item.worth %>
                    <br><br>
                    <% item_int += 1 %>
                <% end %>
                Credits: <%= rift.credits %>
            </div>
            <% end %>
         <% else %>
            <p>You've closed all of todays rifts!</p>
         <% end %>
         
     </div>
     <div>
         <% if @rifts.length > 0%>
         <h3>Choose a Rift</h3>
         <% int = 1 %>
            <% @rifts.each do |rift| %>
                <h4><%= "Rift " + int.to_s  %></h4>
                <% rift_power = 0 %>
                <% trader_power = 0 %>

                <% rift.items.each do |item| %>
                    <% rift_power += item.power %>
                <% end %>

                <h4>Power: <%= rift_power %></h4>
                <% current_trader.items.equipped.each do |item| %>
                    <% trader_power += item.power %>
                <% end %>

                <% rift_success_like = ((trader_power - rift_power) ** 3) * 0.05 + 50 %>

                <h4>Chance of Success: <%= "%0.2f" % [rift_success_like] %>%</h4>
                <button><%= link_to "Close This Rift!", close_path(rift), method: "DELETE" %></button>

            <% end %>
        <% end %>
     </div>

 </section>
</div>