<div class="dash-body">
    <div class="dash-cont">
        <h1>Inventory</h1>
        <div class="parent-cont">
        <% @items.each do |item| %>
            <div class="item-container">
                <% if item.icon.attached? %>
                <%= cl_image_tag(item.icon.key, crop: :scale, width: 100, cloud_name: ENV["CLOUDINARY_CLOUDNAME"]) %>
                <% end %>
                <p>Name: <%= item.name.titleize %></p>
                <p>Type: <%= item.item_type.titleize %></p>
                <p>Rarity: <%= item.rarity.titleize %></p>
                <p>Description:<%= item.description %></p>
                <p>Power: <%= item.power %></p>
                <p>Worth: <%= item.worth %></p>
                
                <!-- <p>Equipped: <%= item.equipped  %></p> -->
                <%= form_with model: item, local: true do |f| %>
                <div>
                    <%= f.label :listed_price %>
                    <%= f.number_field :listed_price, min: 100 %>
                    <br>
                    <% f.label :equipped_listed %>
                    Equipped: <%= f.radio_button :equipped_listed, :equipped, checked: item.equipped %>
                    <br>
                    Listed: <%= f.radio_button :equipped_listed, :listed, checked: item.listed %>
                    <br>
                    None: <%= f.radio_button :equipped_listed, :none %>
                </div>
                <br>
                <div>
                    <%= f.submit %>
                </div>
                <% end %>
                <br>
                <div>
                    <button><%= link_to "Dismantle for Credits", item_path(item), method: :delete, data: {confirm: "Are you sure?" } %></button>
                </div>
            </div>
        <% end %>
        </div>
    </div>
    <div>
        <%= form_with model: @items.first, url: { controller: "items", action: "sort" }, method: 'get', local: true do |f| %>
        <div>
            <p>Sort Inventory<% f.label :sort %><br />
                Name: <%= f.radio_button :sort, :name %>
                <br>
                Rarity: <%= f.radio_button :sort, :rarity %>
                <br>
                Equipped: <%= f.radio_button :sort, :equipped %>
                <br>
                Listed: <%= f.radio_button :sort, :listed %>
                <br>
                Power: <%= f.radio_button :sort, :power %>
                <br>
                Worth: <%= f.radio_button :sort, :worth %>
            </p>
        </div>
        <div>
            <%= f.submit "Sort" %>
        </div>
        <% end %>
    </div>
    <div class="dash-cont">
        <div>
            <h3><%= current_trader.username.titleize %></h3>
            <p>Lorem Ipsum Description</p>
            <h4>Credits: <%= current_trader.credits %></h4>
            <h4>Strongest Rift Closed: <%= current_trader.highest_rift_level %></h4>
            <h4>Power Level: <%= @power_level %></h4>
            <h4>No. of Rifts Closed: <%= current_trader.rifts_closed %></h4>
            <h4>No. of Items Traded: <%= current_trader.items_traded %></h4>
            <%= link_to 'Edit Profile', edit_trader_registration_path, method: :get %>
        </div>
    </div>
</div>