<div class="dash-body">
    <div class="inv-dash-cont">
        <h1>Inventory</h1>
        <div class="parent-cont">
        <% @items.each do |item| %>
            <div class="item-container">
                <% if item.icon.attached? %>
                <%= cl_image_tag(item.icon.key, crop: :scale, width: 100, cloud_name: ENV["CLOUDINARY_CLOUDNAME"]) %>
                <% end %>
                <p>Name: <%= item.name.titleize %></p>
                <p>Type: <%= item.item_type.titleize %></p>
                <p>Rarity: <%= item.rarity.titleize %></p>
                <p>Description: <%= item.description %></p>
                <p>Power: <%= item.power %></p>
                <p>Worth: <%= item.worth %></p>
                
                <!-- <p>Equipped: <%= item.equipped  %></p> -->
                <%= form_with model: item, local: true do |f| %>
                <div>
                    <%= f.label :listed_price %>
                    <%= f.number_field :listed_price, min: 100 %>
                    <br>
                    <% f.label :equipped_listed %>
                    Equipped: <%= f.radio_button :equipped_listed, :equipped, checked: item.equipped %>
                    <br>
                    Listed: <%= f.radio_button :equipped_listed, :listed, checked: item.listed %>
                    <br>
                    None: <%= f.radio_button :equipped_listed, :none %>
                </div>
                <br>
                <div>
                    <%= f.submit %>
                </div>
                <% end %>
                <br>
                <div>
                    <button><%= link_to "Dismantle for Credits", item_path(item), method: :delete, data: {confirm: "Are you sure?" } %></button>
                </div>
            </div>
        <% end %>
        </div>
    </div>
    
    <div class="min-dash-cont">
        <%= form_with model: @items.first, url: { controller: "items", action: "sort" }, method: 'get', local: true do |f| %>
        <h2>Sort Inventory</h2>
        <div class="parent-cont">
            <p><% f.label :sort %>
                <br />
                Name: <%= f.radio_button :sort, :name %>
                <br>
                Rarity: <%= f.radio_button :sort, :rarity %>
                <br>
                Equipped: <%= f.radio_button :sort, :equipped %>
                <br>
                Listed: <%= f.radio_button :sort, :listed %>
                <br>
                Power: <%= f.radio_button :sort, :power %>
                <br>
                Worth: <%= f.radio_button :sort, :worth %>
            </p>
        </div>
        <div>
            <%= f.submit "Sort" %>
        </div>
        <% end %>
    </div>
    <%= render 'partials/trader_profile' %>
</div>