<div class="title">
    <h1>Search Traders</h1>
    <%= form_with model: @trader, url: { action: "find" }, method: 'get', local: true do |f| %>
    <div>
        <p>Find a Trader by their Username or Email</p><% f.label :login %>
        <p><%= f.text_field :login, placeholder: "..."%></p>
    </div>
    <div>
        <%= f.submit "Search" %>
    </div>
    <% end %>
</div> 
    
<div class="dash-body">
    <div class="inv-dash-cont">
        <% if @searched_traders %>
        <div class="parent-cont">
            <% @searched_traders.each do |trader| %>
                <div class="item-container">
                    <% if trader.avatar.attached? %>
                    <%= cl_image_tag(trader.avatar.key, crop: :scale, width: 100, cloud_name: ENV["CLOUDINARY_CLOUDNAME"]) %>
                    <% end %>
                    <h3><%= trader.username.titleize %></h3>
                    <h3><%= trader.email %></h3>
                    <p>Lorem Ipsum Description</p>
                    <h4>Credits: <%= trader.credits %></h4>
            
                    <h4>Strongest Rift Closed: <%= trader.highest_rift_level %></h4>
                    <h4>No. of Rifts Closed: <%= trader.rifts_closed %></h4>
                    <h4>No. of Items Traded: <%= trader.items_traded %></h4>
                    <%= link_to "Show Profile", trader_path(trader), method: :get %> </p>
                </div>
            <% end %> 
        </div>
        <% end %>
    </div>
    <%= render 'partials/trader_profile' %>
</div>
