<div class="main-dash-cont">
    <div>
        <h3>Trader Profile</h3>
    </div>
    <div>
      <% if current_trader.avatar.attached? %>
      <%= cl_image_tag(current_trader.avatar.key, crop: :scale, width: 100, cloud_name: ENV["CLOUDINARY_CLOUDNAME"]) %>
      <% end %>
    </div>
    <div>
        <h3><%= current_trader.username.titleize %></h3>
        <p>Lorem Ipsum Description</p>
        <h4>Credits: <%= current_trader.credits %></h4>
        <h4>Power: <%= @power_level %></h4>
        <h4>Strongest Rift Closed: <%= current_trader.highest_rift_level %></h4>
        <h4>No. of Rifts Closed: <%= current_trader.rifts_closed %></h4>
        <h4>No. of Items Traded: <%= current_trader.items_traded %></h4>
        <%= link_to 'Edit Profile', edit_trader_registration_path, method: :get %>
        <br>
        <% if current_trader.has_role?(:admin) %>
          <%= link_to 'Create Item Variants', items_new_variant_path, method: :get %>
          <%= link_to 'Show All Item Variants', show_item_types_path, method: :get %>
          <%= link_to 'Create Premium Items', items_new_premium_path, method: :get %>
        <% end %>
    </div>
</div>