<% if !trader_signed_in? %>
  <nav class="title">
    <div >
      <%= link_to 'Sign In', new_trader_session_path, method: :get %> <%= link_to 'Sign Up', new_trader_registration_path, method: :get %>
    </div>
  </nav>
  <div class="title">
    <h2>The Infinite Rift Calls You...</h2>
  </div>
  <div class="title">
    <p>Placeholder for Video</p>
  </div>

<% else %> 
  <div class="dash-body">
    <div class="dash-cont">
        <div>
            <h2>Dashboard</h2>
        </div>
        <div>
            <i>Image</i>
        </div>
        <div>
            <h3><%= current_trader.username %></h3>
            <p>Lorem Ipsum Description</p>
            <h4>Credits: <%= current_trader.credits %></h4>
            <h4>Power: <%= @power_level %></h4>
            <h4>Strongest Rift Closed: <%= current_trader.highest_rift_level %></h4>
            <h4>No. of Rifts Closed: <%= current_trader.rifts_closed %></h4>
            <h4>No. of Items Traded: <%= current_trader.items_traded %></h4>
            <%= link_to 'Edit Profile', edit_trader_registration_path, method: :get %>
            <% if current_trader.has_role?(:admin) %>
            <%= link_to 'Create Item Variants', items_new_variant_path, method: :get %>
            <%= link_to 'Create Premium Items', items_new_premium_path, method: :get %>
            <% end %>
        </div>
    </div>
    <div class="dash-cont">
        <h3>Market Listed Items</h3>
        <% current_trader.items.each do |item| %>
          <% if item.listed == true %>
            <div class="item-container">
                <p>Name: <%= item.name %></p>
                <p>Type: <%= item.item_type %></p>
                <p>Rarity: <%= item.rarity %></p>
                <p>Description:<%= item.description %></p>
                <p>Power: <%= item.power %></p>
                <p>Price: <%= item.listed_price %></p>
            </div>
          <% end %>
        <% end %>
    </div>
    <div class="dash-cont">
        <h3>Equipped Items</h3>
        <% current_trader.items.each do |item| %>
          <% if item.equipped == true %>
            <div class="item-container">
                <p>Name: <%= item.name %></p>
                <p>Type: <%= item.item_type %></p>
                <p>Rarity: <%= item.rarity %></p>
                <p>Description:<%= item.description %></p>
                <p>Power: <%= item.power %></p>
            </div>
          <% end %>
        <% end %>
        <div>
          <%= link_to 'Edit Inventory', inventory_path, method: :get %>
        </div>
    </div>
  </div>
<% end %>

<!-- <% ItemTypeConstructor.all.each do |item| %>

<% if item.icon.attached? %>
<%= cl_image_tag(item.icon.key, crop: :scale, width: 100, cloud_name: ENV["CLOUDINARY_CLOUDNAME"]) %>
<% end %>

<% end %>

<p>Effects:</p>
<% ItemVariantConstructor.first.effects.each do |effect| %>
 <%= effect %>
<% end %>
<p>Rarities:</p>
<% ItemVariantConstructor.first.rarities.each do |rare| %>
 <%= rare %>
<% end %>
<p>Powers:</p>
<% ItemVariantConstructor.first.power.each do |power| %>
 <%= power %>
<% end %> -->