<div class="title">
    <h2> Update item! </h2>
    
    <%= form_with model: @item, url: { controller: "items", action: "update_admin" }, local: true do |f| %>
    <div>
        <%= f.label :icon %>
        <%= f.file_field :icon, value: @item.icon, required: true  %>
        <br>
        
        <%= f.label :name %>
        <%= f.text_field :name, value: @item.name, required: true %>
        <br>
        
        <%= f.label :item_type %>
        <%= f.text_field :item_type, value: @item.item_type, required: true %>
        <br>

        <%= f.label :rarity %>
        <%= f.text_field :rarity, value: @item.rarity, required: true %>
        <!-- <br> -->
        
        <%= f.label :description %>
        <%= f.text_field :description, value: @item.description, required: true %>
        <br>
        
        <%= f.label :power %>
        <%= f.number_field :power, value: @item.power, required: true %>
        <br>
        
        <%= f.label :worth %>
        <%= f.number_field :worth, value: @item.worth, required: true %>
        <br>
        
        <%= f.label :listed_price %>
        <%= f.number_field :listed_price, value: @item.listed_price, required: true %>
    </div>
    <br>
    <div>
        <%= f.submit %>
    </div>
    <% end %>
</div>
