<div class="nav-signed">
    <%= link_to 'Dashboard', root_path, method: :get %>
    <%= link_to 'Explore', explore_path, method: :get %>
    <%= link_to 'Exchange', exchange_path, method: :get %>
    <%= link_to 'Inventory', inventory_path, method: :get %>
    <%= link_to 'Search', search_path, method: :get %>
</div>