<!DOCTYPE html>
<html>
  <head>
    <title>🔮 The Hermetic Exchange</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  
  <body>

    <div id="background"></div>
    <div id="background-rot"></div>
    <div id="background-back"></div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if trader_signed_in? %>
      <div class="nav-cont">
        <nav class="nav">
          <div class="nav-link">
            Welcome <%= current_trader.username %>! | <%= link_to 'Logout', destroy_trader_session_path, method: :delete %>
          </div>
        </nav>
        <div class="nav-link">        
          <%= link_to 'Buy Credits', buy_credits_path(current_trader), method: :get %> <%= link_to 'About', about_path, method: :get %>
        </div> 
      </div>
    <% else %>
      <div class="nav-cont">
        <nav class="nav">
          <div class="nav-link">
            <%= link_to 'Sign In', new_trader_session_path, method: :get %> <%= link_to 'Sign Up', new_trader_registration_path, method: :get %>
          </div>
        </nav>
        <div class="nav-link">        
          <%= link_to 'About', about_path, method: :get %>
        </div> 
      </div>
    <% end %>
    <div class="title">
      <h1>The Hermetic Exchange</h1>
    </div>
    <% if trader_signed_in? %>
    <%= render 'partials/nav' %>
    <% end %>
    <%= yield %>
  </body>
</html>
