<!DOCTYPE html>
<html>
  <head>
    <title>HermeticExchange</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if trader_signed_in? %>
      <h4>Welcome, <%= current_trader.username %>! | <%= link_to 'Logout', destroy_trader_session_path, method: :delete %>  </h4>
    <% else %>
    <div class="nav-cont">
      <nav class="nav">
        <div class="nav-link">
          <%= link_to 'Sign In', new_trader_session_path, method: :get %>
        </div>
        <div class="nav-link">
          <%= link_to 'Sign Up', new_trader_registration_path, method: :get %>
        </div>
      </nav>
      <div class="nav-link">        
        <%= link_to 'About', new_trader_registration_path, method: :get %>
      </div> 
    </div>
    <% end %>
    <%= yield %>
  </body>
</html>
